
#bloc2{
    text-align: center;
    display: flex;
    flex-direction: column;
    background-position: 50%;
    background-repeat: no-repeat;
    justify-content: center;
    width: 100%;
    background-color: none ;
    text-transform: none;
    color: #f0f0f0;
    
}

button{
    background-color: rgb(234, 255, 0);
    border: 3px;
    height: 27px ;
    width: 200px;
    transition-duration: 0,5s;
    border-radius: 5px;

}
body {
    background-color: rgba(241, 242, 246, 0.407);
    display: flex;
    flex-direction: row;
    margin: auto;
    background-image: url(R.jpeg);
    background-repeat: repeat;
    background-size: 100%;
    
}
h1 {
    text-align: center;
    font-size: 2em;
}
button {
    background-color: #ffb700;
    color: white;
    width: 32vw;
    height: 7vh;
    border-radius: 25px;
    font-size: 17px;
    font-weight: 600;
}
button:hover{
    box-shadow: 0 5px 20px #9fb3b9;
}
body {
    font-size: 18px;
    color: #333; 
    line-height: 1.5; 
  }
  button {
    transition-duration: 0.1s;
  }
body {
  margin: 0;
  font-family: Arial, sans-serif;
}

body {
  display: flex;
  flex-wrap: wrap;
}

body{
  flex: 100%;
}

/* Requêtes média pour les écrans de tablette */
@media (min-width: 600px) {
  body{
    flex: 50%;
  }
}

/* Requêtes média pour les écrans d'ordinateur */
@media (min-width: 768px) {
  body{
    flex: 33.33%;
  }
}
